{{ 'about-game.css' | asset_url | stylesheet_tag }}


<div class="about-game">
  <div class="about-game__title">
    <h2>ABOUT THE GAME</h2>
  </div>

  <div class="about-game__block">
    <div class="left-side">
      <div class="title">
        <h3>STRATEGY GAME :</h3>
      </div>
      <div class="about">
        <p>As one of six adventurers, each with their own unique talents, you will fight your way through a vast, unrecognizable land filled with dangers and riches. Your goal is to journey through the landscape of Ancient Sumer and find the 4 Ziggurats and collect all of the Map Cards (either through purchase, negotiation, or theft) that will lead you to the great City of Ur where you hope to defeat Nanna the God of Ur.</p>
      </div>
    </div>
    <div class="right-side">
      <div class="pic">
        <img class="icon icon-cart-empty" src="{{ 'pic.png' | asset_url }}" />
      </div>
    </div>
  </div>

  <div class="about-game__block">
    <div class="left-side">

      <div class="pic">
        <img class="icon icon-cart-empty" src="{{ 'pic.png' | asset_url }}" />
      </div>

    </div>
    <div class="right-side">
      <div class="title">
        <h3>FUN & COMPETITIVE GAME WITH COUNTLESS REPLAY OPPORTUNITIES :</h3>
      </div>
      <div class="about">
        <p>Experience the excitement of endless possibilities with our game's remarkable tile placement system. The complete randomness of the tiles ensures limitless replayability, guaranteeing that no two games will ever be the same. Prepare for a truly unique and unpredictable adventure each time you play! With the vast assortment of tiles included in the box, you'll find yourself constantly discovering new paths, challenges, and opportunities. The ever-changing landscape of Ancient Sumer invites you to explore different strategies, adapt to unexpected circumstances, and embrace the thrill of uncertainty. To further enhance your gaming experience, we have included a variety of variants right in</p>
      </div>
      <div class="read-more">
        <p>Read more</p>
        <div class="circle"></div>
      </div>
    </div>
  </div>

  <div class="about-game__block">
    <div class="left-side">
      <div class="title">
        <h3>EASY TO LEARN AND A FUN & EXCITING JOURNEY :</h3>
      </div>
      <div class="about">
        <p>GHOSTS OF UR strikes a perfect balance between accessibility and depth, making it easy to learn for newcomers while offering enough complexity to captivate seasoned players. The game's intuitive mechanics allow you to grasp the basics quickly, ensuring that you can jump right into the action and start your adventure.Whether you're a casual gamer seeking an enjoyable experience or a competitive player aiming for the pinnacle of mastery, GHOSTS OF UR offers a compelling and rewarding journey. Explore the depths of its gameplay, uncover new tactics, and strive to attain the status of the "Master Class" as you become a true legend in the ancient world of Sumer. "</p>
      </div>
    </div>
    <div class="right-side">
      <div class="pic">
        <img class="icon icon-cart-empty" src="{{ 'pic.png' | asset_url }}" />
      </div>
    </div>
  </div>

  <div class="about-game__block">
    <div class="left-side">

      <div class="pic">
        <img class="icon icon-cart-empty" src="{{ 'pic.png' | asset_url }}" />
      </div>

    </div>
    <div class="right-side">
      <div class="title">
        <h3>NUMBER OF PLAYERS AND AVERAGE PLAYTIME :</h3>
      </div>
      <div class="about">
        <p>Prepare yourself for a high-stakes adventure board game that combines strategic gameplay with thrilling exploration. Designed for 2-6 players, GHOSTS OF UR offers an immersive experience where every decision counts and every move can shape your destiny. With the possibility of a 7th player through the Gala Master Variant, the game accommodates larger groups, allowing you to embark on this thrilling journey with a diverse and dynamic party of adventurers. The game's playtime typically spans around 90 minutes, providing ample time to delve into the intricate strategies and tactics that define your quest. However, don't be surprised if the game takes an unexpected turn and speeds up, lea</p>
      </div>
      <div class="read-more">
        <p>Read more</p>
        <div class="circle"></div>
      </div>
    </div>
  </div>
</div>


{% schema %}
  {
    "name": "About-the-game",
    "tag": "section",
    "class": "about-game",
    "settings": [
      {
        "type": "header",
        "content": "My settings"
      }, {
        "type": "text",
        "id": "message",
        "label": "Message",
        "default": "Hello!"
      }, {
        "type": "textarea",
        "id": "my_second_id",
        "label": "Welcome message",
        "default": "Welcome to my shop!"
      }

    ],
    "blocks": [
      {
        "name": "block",
        "type": "block"
      }
    ],
    "presets": [
      {
        "name": "about-game"
      }
    ]
  }
{% endschema %}