{{ 'adventures.css' | asset_url | stylesheet_tag }}



<div class="adventures">
  <div class="adventures__title">
    <h1>Adventurer Lore</h1>
  </div>
  <div class="adventures__block-continer">
    <div class="block">
      <div class="block__info">
        <p>The Ubaid period 67OO BCE — 3700 BCE has ended. Small groups of native peoples from all over Western Europe are aware, through rumor and gossip that the "Light of the East" is just over the next sunrise.</p>
        <p>The first and greatest cities of Sumer are in existence, waiting to be traversed for the rewards that they can offer. Take the journey, discover the majesty, collect the needed currency and supplies. Find and demand of Nanna what it is want at days end. Climb Mountains, sail across waters, trek through deserts, strategically conflict with all of Sumer, and each in your quest.</p>
      </div>
      <div class="block__icons">
        <ul>
          <li>
            <img class="icon icon-cart-empty" src="{{ 'icon-1.svg' | asset_url }}" />
          </li>
          <li>
            <img class="icon icon-cart-empty" src="{{ 'icon-2.svg' | asset_url }}" />
          </li>
          <li>
            <img class="icon icon-cart-empty" src="{{ 'icon-3.svg' | asset_url }}" />
          </li>
          <li>
            <img class="icon icon-cart-empty" src="{{ 'icon-4.svg' | asset_url }}" />
          </li>
          <li>
            <img class="icon icon-cart-empty" src="{{ 'icon-5.svg' | asset_url }}" />
          </li>
          <li>
            <img class="icon icon-cart-empty" src="{{ 'icon-6.svg' | asset_url }}" />
          </li>
        </ul>
      </div>
    </div>

    <div class="block with-hero">
      <div class="hero">
        <img class="icon icon-cart-empty" src="{{ 'hero-1.png' | asset_url }}" />
      </div>
      <div class="block__info">
        <p>
          <span>Anglean</span>
          was born January 12 th 3820 BCE on the shores of Southern Caledonia. Having been taller and stronger and less intellectually leaning than the rest of his group, Anglean was often given the simple job of defending everyone in the group and not asking ary questions. He misunderstood an altercation with his group and was ostracized after some violence led to the death of most ot them. Anglean wanders Central Europe aimlessly smashing his way from one event to the next. After someone pointed him East in 3793 BCE he decided to go there. A journey of 1000 miles for what he believes to be a lifetime supply of free food and a loving family to eat it with.</p>
      </div>
    </div>

    <div class="block with-hero">
      <div class="hero">
        <img class="icon icon-cart-empty" src="{{ 'hero-2.png' | asset_url }}" />
      </div>
      <div class="block__info">
        <p>
          <span>Balfarg</span>
          was born on April 20th, 3824 BCE the upper mountains of Central Europe. He is an expert climber and has incredible stamina for a person of his elevated age. Balfarg admires all things about nature, plants and animals. As a person, he finds himself collecting and caring more than he should most days. Balfarg curiosity and love of the natural world are coupled equally with hos sorrow over the death of his daughter. In 3893 BCE, towards the end of his life, Balfarg chose th wander East after a rumor he had heard of a place filled with natural wonders and redemption. Balfarg desperately wants to appease the God of the Earth in the hopes that he can bring back his daughter.</p>
      </div>
    </div>

    <div class="block with-hero">
      <div class="hero">
        <img class="icon icon-cart-empty" src="{{ 'hero-3.png' | asset_url }}" />
      </div>
      <div class="block__info">
        <p>
          <span>Born</span>
          in November 12 th 3807 BCE, Beaker was a cmall child of 2 when his mother was taken as a slave to a small group in the mountainous northern regions of what today is the Iberian peninsula. From a young age, Beaker wat taught the unfairness of life as the "other" in a small social group. Seeing, his opportunity to escape in 3793 BCE when most of the group were killed by members of an Eastern Caravan. Beaker now roams the lower European corridor looking for the promise of the Light of the East that he had seen in that Caravan. An expert in fine clay powder production that wath taught by his captors. Beaker is slight and physically damaged from years abuse. Beaker hides most of the time from combat and uses vanish powder to run if confrinted, Beaker also has an expert ability to steal things unseen.</p>
      </div>
    </div>

    <div class="block with-hero">
      <div class="hero">
        <img class="icon icon-cart-empty" src="{{ 'hero-4.png' | asset_url }}" />
      </div>
      <div class="block__info">
        <p>
          <span>Brodgar</span>
          was born January 14, 3833 BCE on a small island north of Caledonia. Brodgar os obsessed with fire pain, and torture of small animals. Brodgar was scapegoated and cast out by his group in 3818 BCE for being "Thuton" and forced to wander to his death. Having survived as a wanderer in Central Europe for 25 years, Brodgar has now decided to wander East after a Caravan member told him that someone hamed Enlil to the East can extend his life and bring his mercy. Brodgar hats both himself and everything else he comes across. Death is not a simplematter to him. He fears not withessing it and he fears his own even more.</p>
      </div>
    </div>

    <div class="block with-hero">
      <div class="hero">
        <img class="icon icon-cart-empty" src="{{ 'hero-5.png' | asset_url }}" />
      </div>
      <div class="block__info">
        <p>
          <span>Manx</span>
          was born on August 10th, 3817 BCE, on the lower region of Hibernia. As the Child of salt farmers, Manx dreamed of getting out onto the open sea and acquiring wealth. By 3795 BCE Manx, had acquired both parts of that dream but felt a need for more. As a highli - capable trader and sea fairer Manx, led many, many raids into small village areas of Central Europe. After hearinf about the great riches of a place in the East Manx sets out to find and acquire the ultimate fortune in whatever from that happens to be.</p>
      </div>
    </div>

    <div class="block with-hero">
      <div class="hero">
        <img class="icon icon-cart-empty" src="{{ 'hero-6.png' | asset_url }}" />
      </div>
      <div class="block__info">
        <p>
          <span>Westhey</span>
          raised in the forested regions of central Britannia. He was Born on December 4th 3817 BCE. Westhey lost lost everyone in the family during a blight. Having has a waking druiding dream during a burial ceremony, Westhey set off to find a place towards the sunrise. A place where people can life freely without fear of blight and judgment from the forest Gods. Westhey is tall, Slight and Fast and can move fro place to place better than most other humans. After the burial in 3793 BCE Westhey set out to find such a place that he saw in his waking dream.</p>
      </div>
    </div>

  </div>
</div>

{% schema %}
  {
    "name": "Adventures",
    "tag": "section",
    "class": "Adventures-block",
    "settings": [
      {
        "type": "header",
        "content": "My settings"
      }, {
        "type": "text",
        "id": "adventures",
        "label": "Message",
        "default": "Hello!"
      }, {
        "type": "textarea",
        "id": "adventures-custom",
        "label": "Welcome message",
        "default": "Welcome to my shop!"
      }

    ],
    "blocks": [
      {
        "name": "block",
        "type": "block"
      }
    ],
    "presets": [
      {
        "name": "Adventures"
      }
    ]
  }
{% endschema %}