{{ 'adventures.css' | asset_url | stylesheet_tag }}



<div class="adventures">
  <div class="adventures__title">
    <h1>Adventurer Lore</h1>
  </div>
  <div class="adventures__block-continer">
    <div class="block">
      <div class="block__info">
        <p>The Ubaid period 67OO BCE — 3700 BCE has ended. Small groups of native peoples from all over Western Europe are aware, through rumor and gossip that the "Light of the East" is just over the next sunrise.</p>
        <p>The first and greatest cities of Sumer are in existence, waiting to be traversed for the rewards that they can offer. Take the journey, discover the majesty, collect the needed currency and supplies. Find and demand of Nanna what it is want at days end. Climb Mountains, sail across waters, trek through deserts, strategically conflict with all of Sumer, and each in your quest.</p>
      </div>
      <div class="block__icons">
        <ul>
          <li>
            <img class="icon icon-cart-empty" src="{{ 'icon-1.svg' | asset_url }}" />
          </li>
          <li>
            <img class="icon icon-cart-empty" src="{{ 'icon-2.svg' | asset_url }}" />
          </li>
          <li>
            <img class="icon icon-cart-empty" src="{{ 'icon-3.svg' | asset_url }}" />
          </li>
          <li>
            <img class="icon icon-cart-empty" src="{{ 'icon-4.svg' | asset_url }}" />
          </li>
          <li>
            <img class="icon icon-cart-empty" src="{{ 'icon-5.svg' | asset_url }}" />
          </li>
          <li>
            <img class="icon icon-cart-empty" src="{{ 'icon-6.svg' | asset_url }}" />
          </li>
        </ul>
      </div>
    </div>

    <div class="block with-hero">
      <div class="hero">
        <img class="icon icon-cart-empty" src="{{ 'hero-1.png' | asset_url }}" />
      </div>
      <div class="block__info-hero">
        <p>
          <span>Anglean</span>
          {{ section.settings.Anglean }}</p>
      </div>
    </div>

    <div class="block with-hero">
      <div class="hero">
        <img class="icon icon-cart-empty" src="{{ 'hero-2.png' | asset_url }}" />
      </div>
      <div class="block__info-hero">
        <p>
          <span>Balfarg</span>
          {{ section.settings.Balfarg }}</p>
      </div>
    </div>

    <div class="block with-hero">
      <div class="hero">
        <img class="icon icon-cart-empty" src="{{ 'hero-3.png' | asset_url }}" />
      </div>
      <div class="block__info-hero">
        <p>
          <span>Born</span>
          {{ section.settings.Born }}</p>
      </div>
    </div>

    <div class="block with-hero">
      <div class="hero">
        <img class="icon icon-cart-empty" src="{{ 'hero-4.png' | asset_url }}" />
      </div>
      <div class="block__info-hero">
        <p>
          <span>Brodgar</span>
          {{ section.settings.Brodgar }}</p>
      </div>
    </div>

    <div class="block with-hero">
      <div class="hero">
        <img class="icon icon-cart-empty" src="{{ 'hero-5.png' | asset_url }}" />
      </div>
      <div class="block__info-hero">
        <p>
          <span>Manx</span>
          {{ section.settings.Manx }}</p>
      </div>
    </div>

    <div class="block with-hero">
      <div class="hero">
        <img class="icon icon-cart-empty" src="{{ 'hero-6.png' | asset_url }}" />
      </div>
      <div class="block__info-hero">
        <p>
          <span>Westhey</span>
          {{ section.settings.Westhey }}</p>
      </div>
    </div>

  </div>
</div>

{% schema %}
  {
    "name": "Adventures",
    "tag": "section",
    "class": "Adventures-block",
    "settings": [
      {
        "type": "header",
        "content": "My settings"
      },
      {
        "type": "textarea",
        "id": "Anglean",
        "label": "Anglean",
        "default": "1"
      },
      {
        "type": "textarea",
        "id": "Balfarg",
        "label": "Balfarg",
        "default": ""
      },
      {
        "type": "textarea",
        "id": "Born",
        "label": "Born",
        "default": ""
      }, {
        "type": "textarea",
        "id": "Brodgar",
        "label": "Brodgar",
        "default": ""
      }, {
        "type": "textarea",
        "id": "Manx",
        "label": "Manx",
        "default": ""
      }, {
        "type": "textarea",
        "id": "Westhey",
        "label": "Westhey",
        "default": ""
      }

    ],
    "blocks": [
      {
        "name": "block",
        "type": "block"
      }
    ],
    "presets": [
      {
        "name": "Adventures"
      }
    ]
  }
{% endschema %}