{{ 'game-components-page.css' | asset_url | stylesheet_tag }}

<div class="game-components-page">
  <div class="game-components-page__title title">
    <h1>High Quality Game Components</h1>
  </div>
  <div class="game-components-page__block-continer">
    <div class="block">
      <div class="block__title">
        6 Pewter Adventurers :
      </div>
      <div class="block__info">
        {{ section.settings.Pewter_Adventurers }}
      </div>
      <div class="block__pic">
        <img class="icon icon-cart-empty" src="{{ 'people.png' | asset_url }}" />
      </div>
    </div>

    <div class="block">
      <div class="block__title">
        100% Silicone Adventure Mat
      </div>
      <div class="block__info">
        {{ section.settings.Silicone_Adventure_Mat }}

      </div>
      <div class="block__pic">
        <img class="icon icon-cart-empty" src="{{ 'pic-2.png' | asset_url }}" />
      </div>
    </div>

    <div class="block">
      <div class="block__title">
        The Tileset
      </div>
      <div class="block__info">
        {{ section.settings.The_Tileset }}

      </div>
      <div class="block__pic">
        <img class="icon icon-cart-empty" src="{{ 'pic-3.png' | asset_url }}" />
      </div>
    </div>

    <div class="block">
      <div class="block__title">
        20 Kish
      </div>
      <div class="block__info">
        {{ section.settings.Kish }}

      </div>
      <div class="block__pic">
        <img class="icon icon-cart-empty" src="{{ 'pic-4.png' | asset_url }}" />
      </div>
    </div>

    <div class="block">
      <div class="block__title">
        6 Player/Quick reference Cards
      </div>
      <div class="block__info">
        {{ section.settings.Player_Quick }}

      </div>
      <div class="block__pic">
        <img class="icon icon-cart-empty" src="{{ '16.png' | asset_url }}" />
      </div>
    </div>

    <div class="block">
      <div class="block__title">
        The dice of Ghosts of Ur
      </div>
      <div class="block__info">
        {{ section.settings.the_dice }}
      </div>
      <div class="block__pic">
        <img class="icon icon-cart-empty" src="{{ 'pic-5.png' | asset_url }}" />
      </div>
    </div>

    <div class="block">
      <div class="block__title">
        1 Deck of Nisi Emuq Cards
      </div>
      <div class="block__info">
        {{ section.settings.Emuq_Cards }}
      </div>
      <div class="block__pic">
        <img class="icon icon-cart-empty" src="{{ 'pic-6.png' | asset_url }}" />
      </div>
    </div>

    <div class="block">
      <div class="block__title">
        1 Deck of Discovery Cards
      </div>
      <div class="block__info">
        {{ section.settings.Discovery_Cards }}
      </div>
      <div class="block__pic">
        <img class="icon icon-cart-empty" src="{{ 'pic-7.png' | asset_url }}" />
      </div>
    </div>

    <div class="block">
      <div class="block__title">
        Map Cards
      </div>
      <div class="block__info">
        {{ section.settings.Map_Cards }}
      </div>
      <div class="block__pic">
        <img class="icon icon-cart-empty" src="{{ 'pic-8.png' | asset_url }}" />
      </div>
    </div>


    <div class="block">
      <div class="block__title">
        Burlap Storage Bags
      </div>
      <div class="block__info">
        {{ section.settings.Burlap_Storage_Bags }}
      </div>
      <div class="block__pic">
        <img class="icon icon-cart-empty" src="{{ 'pic-9.png' | asset_url }}" />
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "components-page",
    "tag": "section",
    "class": "components-page",
    "settings": [
      {
        "type": "header",
        "content": "My settings"
      },
      {
        "type": "textarea",
        "id": "Pewter_Adventurers",
        "label": "6 Pewter Adventurers :",
        "default": "type here"
      },
      {
        "type": "textarea",
        "id": "Silicone_Adventure_Mat",
        "label": "Silicone Adventure Mat",
        "default": "type here"
      },
      {
        "type": "textarea",
        "id": "The_Tileset",
        "label": "The Tileset",
        "default": "type here"
      }, {
        "type": "textarea",
        "id": "Kish",
        "label": "20 Kish",
        "default": "type here"
      }, {
        "type": "textarea",
        "id": "Player_Quick",
        "label": "6 Player/Quick reference Cards",
        "default": "type here"
      }, {
        "type": "textarea",
        "id": "the_dice",
        "label": "The dice of Ghosts of Ur",
        "default": "type here"
      }, {
        "type": "textarea",
        "id": "Emuq_Cards",
        "label": "1 Deck of Nisi Emuq Cards",
        "default": "type here"
      }, {
        "type": "textarea",
        "id": "Discovery_Cards",
        "label": "1 Deck of Discovery Cards",
        "default": "type here"
      }, {
        "type": "textarea",
        "id": "Map_Cards",
        "label": "Map Cards",
        "default": "type here"
      }, {
        "type": "textarea",
        "id": "Burlap_Storage_Bags",
        "label": "Burlap Storage Bags",
        "default": "type here"
      }
    ],
    "blocks": [
      {
        "name": "block",
        "type": "block"
      }
    ],
    "presets": [
      {
        "name": "components-page"
      }
    ]
  }
{% endschema %}