{{ 'explore.css' | asset_url | stylesheet_tag }}


<div class="game-components-page">
  <div class="game-components-page__title">
    <h1>High Quality Game Components</h1>
  </div>
  <div class="game-components-page__block-continer">
    <div class="block">
      <div class="block__title">
        6 Pewter Adventurers :
      </div>
      <div class="block__info">
        <p>At our Buffalo, NY facility, we take great pride in the meticulous craftsmanship of our game components. Each character in our adventure game is carefully hand-casted using premium pewter, resulting in figures that range in height from 25mm to 40mm. The attention to detail extends to their weight, with each adventurer weighing between 11g to 16g, adding a substantial and satisfying feel to the game pieces.</p>
        <p>To further enhance the aesthetics and capture the essence of the ancient era, we offer two striking finishes for our pewter figures: Antiqued Blackened Pewter and Plain Pewter. The Antiqued Blackened Pewter finish adds a touch of antiquity, while the Plain Pewter finish highlights the natural beauty and luster of the metal.</p>
        <p>By combining our passion for board games with our commitment to excellence in production, we strive to provide you with an immersive and visually stunning gaming experience. Our locally crafted pewter figures serve as a testament to our dedication to quality and authenticity.</p>
      </div>
      <div class="block__pic">
        <img class="icon icon-cart-empty" src="{{ 'people.png' | asset_url }}" />
      </div>
    </div>

    <div class="block">
      <div class="block__title">
        100% Silicone Adventure Mat
      </div>
      <div class="block__info">
        <p>Experience the utmost convenience and durability with our game mat, designed to enhance your gaming experience. This remarkable mat boasts exceptional qualities, being both washable and fold-able, ensuring easy maintenance and storage.</p>
        <p>The mat itself is ingeniously crafted with a grid comprising 145 spaces, providing the ideal canvas for your immersive journey through Sumer. Measuring 27" x 27" in size, each square on the mat spans 2", perfectly accommodating the accompanying tiles. This precise fit ensures a seamless and engaging game play experience, where every move and decision unfolds with excitement and anticipation.</p>
        <p>With our thoughtfully designed game mat, your adventure through Sumer becomes all the more captivating. Its durability, wash-ability, and fold-ability make it a practical choice, while the meticulously arranged grid and perfectly fitting squares contribute to an immersive and thrilling journey. Get ready to embark on an unforgettable gaming experience with our exceptional game mat!</p>
      </div>
      <div class="block__pic">
        <img class="icon icon-cart-empty" src="{{ 'pic-2.png' | asset_url }}" />
      </div>
    </div>

    <div class="block">
      <div class="block__title">
        The Tileset
      </div>
      <div class="block__info">
        <p>Immerse yourself in the world of Ancient Sumer with our expansive collection of 145 (2") tiles. Each tile represents a unique aspect of this fascinating civilization, allowing you to piece together the grand tapestry of the era as you progress through the game.To make organization and storage a breeze, we have included a super cool Burlap Storage Bag.
        </p>
        <p>This specially designed bag is not only functional but also adds a touch of rustic charm to your gaming experience. Safely store and transport your tiles with ease, keeping them neatly organized and ready for your next adventure in Sumer.</p>
        <p>With the combination of our meticulously crafted tiles and the convenient Burlap Storage Bag, you have everything you need to immerse yourself fully in the world of Ancient Sumer. Get ready to explore, strategize, and uncover the secrets of this remarkable civilization.</p>
      </div>
      <div class="block__pic">
        <img class="icon icon-cart-empty" src="{{ 'pic-3.png' | asset_url }}" />
      </div>
    </div>

    <div class="block">
      <div class="block__title">
        20 Kish
      </div>
      <div class="block__info">
        <p>Indulge in the exquisite craftsmanship of our hand-cast pewter pieces, available in two stunning finishes: Antiqued Blackened Pewter and Regular Pewter. The Antiqued Blackened Pewter finish adds an air of antiquity and mystique to your game, while the Regular Pewter finish showcases the timeless beauty of this metal. Whichever option you choose, our pewter pieces are sure to enhance the aesthetic appeal and immersion of your gaming experience.
        </p>
        <p>To keep your valuable pieces organized and easily accessible, we provide a charming Burlap Storage Bag. This thoughtfully designed bag combines functionality with a touch of rustic elegance. Store your pewter pieces securely, ensuring they are well-protected and ready for your next gaming session. The Burlap Storage Bag adds an extra element of convenience and style to your gaming setup.
        </p>
        <p>With our hand-cast pewter pieces, available in two striking finishes, and the inclusion of a practical Burlap Storage Bag, we strive to provide you with a premium gaming experience that combines exceptional craftsmanship, visual appeal, and organization. Prepare to embark on your adventure in style and sophistication!</p>
      </div>
      <div class="block__pic">
        <img class="icon icon-cart-empty" src="{{ 'pic-4.png' | asset_url }}" />
      </div>
    </div>

    <div class="block">
      <div class="block__title">
        6 Player/Quick reference Cards
      </div>
      <div class="block__info">
        <p>Immerse yourself in the world of our adventurers with our meticulously designed cards. Each card represents a unique character, including Anglean, Balfarg, Beaker, Brodgar, Manx, and Westhey. These cards not only showcase stunning artwork and captivating details but also provide quick reference rules on the back. This convenient feature allows for easy access to essential game play information whenever needed.
        </p>
        <p>To ensure easy organization and safekeeping, we also provide a Burlap Storage Bag specifically designed for these cards. This stylish and functional bag adds a touch of rustic charm to your gaming experience while keeping your cards neatly organized and protected. The Burlap Storage Bag complements the overall aesthetic and enhances the convenience of your gaming setup.
        </p>
        <p>With our intricately designed adventurer cards and the inclusion of the Burlap Storage Bag, we aim to provide you with a seamless and immersive gaming experience. Prepare to embark on thrilling adventures, strategize with your favorite characters, and uncover the secrets that await you in the world of our adventurers.</p>
      </div>
      <div class="block__pic">
        <img class="icon icon-cart-empty" src="{{ 'pic-5.png' | asset_url }}" />
      </div>
    </div>

    <div class="block">
      <div class="block__title">
        1 Deck of Nisi Emuq Cards
      </div>
      <div class="block__info">
        <p>Unlock the Treasure of Ancient Sumer and delve into the riches of this remarkable civilization. As a reward for emerging victorious in combat, you will have the opportunity to acquire these valuable treasures. Each treasure carries both Lapis Lazuli and Equipment value, adding a sense of excitement and anticipation to your battles.</p>
        <p>Lapis Lazuli, a prized gemstone of the ancient world, holds great value and represents the wealth and prestige associated with Ancient Sumer. The Lapis Lazuli value of the treasure signifies its worth and can be used to trade or acquire other valuable resources within the game.</p>
        <p>Additionally, the Equipment value of the treasure indicates the usefulness and power it brings to your adventurers. These treasures may include weapons, artifacts, or tools that can enhance your abilities, provide strategic advantages, or unlock new possibilities as you continue your journey through Sumer.</p>
        <p>The Treasure of Ancient Sumer serves as both a tangible reward for your triumphs in combat and a means to further empower your adventurers. Unearth these treasures, harness their power, and experience the wealth and glory that Ancient Sumer has to offer.</p>
      </div>
      <div class="block__pic">
        <img class="icon icon-cart-empty" src="{{ 'pic-6.png' | asset_url }}" />
      </div>
    </div>

    <div class="block">
      <div class="block__title">
        1 Deck of Discovery Cards
      </div>
      <div class="block__info">
        <p>Discover the captivating treasures that await you at the end of an Adventurer's turn. These treasures have the power to both assist and challenge you as you embark on your journey through Ancient Sumer.</p>
        <p>Each treasure you acquire possesses unique characteristics that can significantly impact your adventure. Some treasures may provide valuable advantages, such as enhanced abilities, additional resources, or special abilities that aid you on your quest. These helpful treasures can be a advantage to your progress, empowering you to overcome obstacles and achieve greatness.</p>
        <p>On the other hand, some treasures may pose challenges or obstacles that you must navigate carefully. They might introduce new obstacles, hinder your progress, or add an element of unpredictability to your journey. These challenging treasures present an opportunity for you to demonstrate your skill, adaptability, and strategic thinking as you overcome the hurdles they present.</p>
        <p>The treasures awarded at the end of your turn are a dynamic and integral part of your adventure, shaping the path you tread and influencing the outcomes you encounter. Embrace the mysteries and possibilities that each treasure holds and let them guide you to fame and fortune in the ancient world of Sumer.</p>
      </div>
      <div class="block__pic">
        <img class="icon icon-cart-empty" src="{{ 'pic-7.png' | asset_url }}" />
      </div>
    </div>

    <div class="block">
      <div class="block__title">
        Map Cards
      </div>
      <div class="block__info">
        <p>To acquire Map Cards, you'll need to make strategic purchases while your Adventurer is on Ziggurats. These significant structures serve as centers of knowledge and commerce within Ancient Sumer. Plan your moves carefully to visit these Ziggurats, where you can acquire the Map Cards that will shape your journey and influence your destiny.</p>
        <p>Embrace the power of Grain, Sky, Storm, and Water Map Cards as you navigate the depths of Ancient Sumer, unlocking its treasures and uncovering the secrets it holds. Let the adventure unfold as you strategically obtain and utilize these Map Cards to shape your path and achieve greatness in the ancient world.</p>
      </div>
      <div class="block__pic">
        <img class="icon icon-cart-empty" src="{{ 'pic-8.png' | asset_url }}" />
      </div>
    </div>


    <div class="block">
      <div class="block__title">
        Burlap Storage Bags
      </div>
      <div class="block__info">
        <p>We understand the importance of organization and convenience in managing the various components of your game. That's why we provide Burlap Storage Bags with convenient drawstrings to help you store and keep all the different parts of the game in one place.
        </p>
        <p>These Burlap Storage Bags are specifically designed to accommodate the different components of the game, ensuring that everything stays securely in place and easily accessible when you need them. Whether it's the tiles, cards, dice, or other game elements, these storage bags provide a practical and stylish solution for keeping everything organized.</p>
        <p>The rustic charm of the burlap material adds a touch of elegance and complements the theme of the game, enhancing your overall gaming experience. With the drawstrings, you can quickly open or close the bags, ensuring that your components are protected and ready for your next gaming session.
        </p>
        <p>Say goodbye to scattered pieces and welcome a more organized and efficient gaming setup with our Burlap Storage Bags. They are designed to simplify storage and make your gaming experience hassle-free, allowing you to focus on what matters most—the excitement and enjoyment of playing the game.</p>
      </div>
      <div class="block__pic">
        <img class="icon icon-cart-empty" src="{{ 'pic-9.png' | asset_url }}" />
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Game-components-page",
    "tag": "section",
    "class": "game-components-page",
    "settings": [
      {
        "type": "header",
        "content": "My settings"
      }, {
        "type": "text",
        "id": "message",
        "label": "Message",
        "default": "Hello!"
      }, {
        "type": "textarea",
        "id": "game-components-page",
        "label": "Welcome message",
        "default": "Welcome to my shop!"
      }

    ],
    "blocks": [
      {
        "name": "block",
        "type": "block"
      }
    ],
    "presets": [
      {
        "name": "Game-components-page"
      }
    ]
  }
{% endschema %}