{{ 'main-info-block.css' | asset_url | stylesheet_tag }}


<div class="main-info-block">
  <div class="main-info-block__pic">
    <img class="" src="{{ 'main-background.png' | asset_url }}" />
  </div>
  <div class="main-info-block__title">
    <h1>ghost of ur</h1>
  </div>
  <div class="main-info-block__sub-title">
    <p>Welcome to the World of</p>
  </div>
  <div class="main-info-block__social-icons">
    <ul class="social">
      <li>
        <a href=""><img class="" src="{{ 'instagram.svg' | asset_url }}" /></a>
      </li>
      <li>
        <a href=""><img class="" src="{{ 'facebook.svg' | asset_url }}" /></a>
      </li>
      <li>
        <a href=""><img class="" src="{{ 'tiktok.svg' | asset_url }}" /></a>
      </li>
      <li>
        <a href=""><img class="" src="{{ 'twitter.svg' | asset_url }}" /></a>
      </li>
      <li>
        <a href=""><img class="" src="{{ 'discord.svg' | asset_url }}" /></a>
      </li>
      <li>
        <a href=""><img class="" src="{{ 'youtube.svg' | asset_url }}" /></a>
      </li>
      <li>
        <a href=""><img class="" src="{{ 'twitch.svg' | asset_url }}" /></a>
      </li>
    </ul>
  </div>
</div>

{% schema %}
  {
    "name": "Main info block",
    "tag": "section",
    "class": "main-info-block",
    "settings": [
      {
        "type": "header",
        "content": "My settings"
      }, {
        "type": "text",
        "id": "message",
        "label": "Message",
        "default": "Hello!"
      }, {
        "type": "textarea",
        "id": "main-info-block",
        "label": "Welcome message",
        "default": "Welcome to my shop!"
      }

    ],
    "blocks": [
      {
        "name": "block",
        "type": "block"
      }
    ],
    "presets": [
      {
        "name": "Main info block"
      }
    ]
  }
{% endschema %}