{{ 'twich-block.css' | asset_url | stylesheet_tag }}

<div class="stream-wraper">
  <div class="twich-block twich">
    <div class="twich-block__pic">
      <img class="icon icon-cart-empty" src="{{ 'twich-pic.png' | asset_url }}" />
    </div>
    <div class="twich-block__title">
      <img class="icon icon-cart-empty" src="{{ 'twich-title.svg' | asset_url }}" />
    </div>
    <div class="twich-block__button">
      <a href="https://www.twitch.tv/ghostsofur">JOIN NOW!</a>
    </div>
  </div>

  <div class="twich-block steam-block">
    <div class="twich-block__pic steam">
      <img class="icon icon-cart-empty" src="{{ 'steam-backgorund.png' | asset_url }}" />
    </div>
    <div class="twich-block__title">
      <img class="icon icon-cart-empty" src="{{ 'steam.svg' | asset_url }}" />
    </div>
    <div class="twich-block__button steam-button">
      <a href="">JOIN NOW!</a>
    </div>
  </div>
</div>


{% schema %}
  {
    "name": "Twich-block",
    "tag": "section",
    "class": "Twich-block",
    "settings": [
      {
        "type": "header",
        "content": "My settings"
      }, {
        "type": "text",
        "id": "message",
        "label": "Message",
        "default": "Hello!"
      }, {
        "type": "textarea",
        "id": "my_second_id",
        "label": "Welcome message",
        "default": "Welcome to my shop!"
      }

    ],
    "blocks": [
      {
        "name": "block",
        "type": "block"
      }
    ],
    "presets": [
      {
        "name": "Twich-block"
      }
    ]
  }
{% endschema %}